@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Roboto Mono', monospace;
}

@layer components {
  .input {
    border-radius: 9999px;

    border: 1px solid #e7e5e4; /* stone-200 */
    background-color: #ffffff;

    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem;

    font-size: 0.875rem; /* text-sm */
    color: #a8a29e; /* stone-400 */

    transition: all 300ms ease;
  }

  .input::placeholder {
    color: #a8a29e; /* stone-400 */
  }

  .input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(250, 204, 21, 0.5); /* yellow-400 ring */
  }

  @media (min-width: 768px) {
    .input {
      padding-left: 1.5rem; /* px-6 */
      padding-right: 1.5rem;
      padding-top: 0.75rem; /* py-3 */
      padding-bottom: 0.75rem;
    }
  }

  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
